{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.pic.url}}">
      <div class="media-body">
        <div class="article-metadata mb-2">
          <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.created_at|date:'F d, Y' }}</small>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h2><a class="article-title" href="{% url 'blog:post-detail' post.id%}">{{ post.title }}</a></h2>
          </div>
          <div class="col-md-2">
            {% ifequal user post.author %}
              <a href="{% url 'blog:post-update' post.pk %}" class="mr-3"><i class='fas fa-pencil-alt' style='font-size:20px;color:red'></i>
              </a>
              <a href="{% url 'blog:post-delete' post.pk %}">
                <i class='fas fa-trash-alt' style='font-size:20px;color:red'></i>
              </a>
            {% endifequal %}
          </div>
        </div>
        <p class="article-content">{{ post.content }}</p>
        <div class="row">
            <div class="col-md-7">
              <form method="POST" action="{% url 'blog:like_post' %}" class="like-form" id="{{post.id}}">
                {% csrf_token %}
                <input type="hidden" name="post-id" value="{{post.id}}">
                <button  type="submit" class="btn btn-link like-btn{{post.id}}" style="font-size:17px">
                <i class="fa fa-thumbs-up"> like</i>
                </button>
              </form>
            </div>
            <div class="col-md-5">
              <small class="text-muted" style="font-size: 15px">likes:<small class="text-muted likescount{{post.id}}" style="font-size:17px;"> 0</small></small>
              <small class="text-muted ml-5" style="font-size:15px;">&nbsp;comments: {{post.comment_set.all.count}}</small>
            </div>
          </div>
          <div>
            <hr>
            <h6>Comments</h6>
            <button onclick="showOrHideDiv()" class="showbtn">show or hide comments</button>
            <div>
              {% for comment in post.comment_set.all|slice:":2" %}
                <div class="showOrHide">
                  <p style="font-size:13px;">{{comment.content}}</p>
                </div>
              {% endfor %}
              <a href="#">show more..</a>
            </div>
            <p></p>
            <form method="POST" action="{% url 'blog:add_comment' %}">
              {% csrf_token %}
              <input type="hidden" name="post-id" value="{{post.id}}">
              {{comment_form|crispy}}
              <input type="submit" class="btn btn-link" value="add comment">
            </form>
          </div>
        </div>
      </article>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
  {% endblock %}