{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.pic.url}}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.created_at|date:'F d, Y' }}</small>
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
    <div class="form-group">
      <p></p>
      <hr>
      {% if post.author == user %}
        <a class="btn btn-outline-info" href="{% url 'blog:post-update' post.id %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'blog:post-delete' post.id %}">Delete</a>
      {% endif %}
    </div>
  </article>
{% endblock %}